# Python related
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
venv/
*.egg-info/
.env

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# IDE and editor files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Test and coverage reports
.coverage
*.coveragerc
nosetests.xml
pytest.xml
coverage.xml

# Logs and temporary files
*.log
*.bak
*.swp
*.swo
*.tmp
